<a href="https://colab.research.google.com/github/michalis0/Business-Intelligence-and-Analytics/blob/master/labs/07%20-%20Association%20Rules/Walkthrough/walkthrough_association.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1 align="center"> Walkthrough - Association Rules</h1>

<div>
<td>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/Logo_Universit%C3%A9_de_Lausanne.svg/2000px-Logo_Universit%C3%A9_de_Lausanne.svg.png" style="padding-right:10px;width:240px;float:left"/></td>
<h2 style="white-space: nowrap">Business Intelligence and Analytics</h2></td>
<hr style="clear:both">
<p style="font-size:0.85em; margin:2px; text-align:justify">

</div>

# Mining Association Rules
In this week's lab, we are going to mine association rules using the Python library `mlxtend`. You can install the library using pip

In [1]:
%pip install mlxtend

Requirement already satisfied: mlxtend in /Users/iris/miniconda3/envs/ada/lib/python3.11/site-packages (0.23.4)
Requirement already satisfied: scipy>=1.2.1 in /Users/iris/miniconda3/envs/ada/lib/python3.11/site-packages (from mlxtend) (1.13.1)
Requirement already satisfied: numpy>=1.16.2 in /Users/iris/miniconda3/envs/ada/lib/python3.11/site-packages (from mlxtend) (1.26.4)
Requirement already satisfied: pandas>=0.24.2 in /Users/iris/miniconda3/envs/ada/lib/python3.11/site-packages (from mlxtend) (2.2.2)
Requirement already satisfied: scikit-learn>=1.3.1 in /Users/iris/miniconda3/envs/ada/lib/python3.11/site-packages (from mlxtend) (1.5.2)
Requirement already satisfied: matplotlib>=3.0.0 in /Users/iris/miniconda3/envs/ada/lib/python3.11/site-packages (from mlxtend) (3.9.2)
Requirement already satisfied: joblib>=0.13.2 in /Users/iris/miniconda3/envs/ada/lib/python3.11/site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: contourpy>=1.0.1 in /Users/iris/miniconda3/envs/ada/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /Users/iris/miniconda3/envs/ada/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /Users/iris/miniconda3/envs/ada/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/iris/miniconda3/envs/ada/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /Users/iris/miniconda3/envs/ada/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (24.1)
Requirement already satisfied: pillow>=8 in /Users/iris/miniconda3/envs/ada/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/iris/miniconda3/envs/ada/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /Users/iris/miniconda3/envs/ada/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/iris/miniconda3/envs/ada/lib/python3.11/site-packages (from pandas>=0.24.2->mlxtend) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/iris/miniconda3/envs/ada/lib/python3.11/site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in /Users/iris/miniconda3/envs/ada/lib/python3.11/site-packages (from scikit-learn>=1.3.1->mlxtend) (3.5.0)
Requirement already satisfied: six>=1.5 in /Users/iris/miniconda3/envs/ada/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

## Hands-On
Before starting to code, let's practice with a toy example.
Calculate support and confidence for the following association rules given the shopping receipts database below.

As a reminder, for the association rule `{S} => {i}`:

* Support({S} => {i}) =  $\frac{\text{number of transactions containing S and i}}{\text{total number of transactions}}$

* Confidence({S} => {i}) = $\frac{\text{number of transactions containing S and i}}{\text{number of transactions containing S}}$



![association_rules.png]()


```
{Water} => {Juice}
    Support =
    Confidence =
    
{Juice} => {Water}
    Support =
    Confidence =
    
{Milk} => {Bread}
    Support =
    Confidence =
    
{Juice, Beer} => {Water}
    Support =
    Confidence =
```

Suppose that we have a support threshold of 40% and confidence threshold of 75%.
Which rules are most interesting?

#### Do you think using only the support and confidence measures is enough to identify a rule as interesting?

Actually, you should look at the lift too.

The lift tells us the strength of the association association rule `{S} => {i}` beyond chance:

**Confidence/Support = Lift**

Support(i) = `# transactions containing i / total # transactions`





*   Lift = $ \frac{\text{Confidence(S => i) }}{\text{Support(i)}} $ = $\frac{\text{number of transactions containing S and i}}{\text{number of transactions containing S}}$ / $\frac{\text{number of transactions containing i}}{\text{total number of transactions}}$





If the lift = 1: `S` and `i` are independent — the presence of `S` does not affect the likelihood of `i`.

If the lift > 1: `S` and `i` are positively correlated — `i` occurs more often with S than expected by chance.

If the lift < 1: `S` and `i` are negatively correlated — `i` occurs less often with `S` than expected by chance.

## Apriori algorithm

We will use the apriori algorithm to mine the frequent itemsets. The `mlxtend` library has an implementation of this algorithm.

In [2]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

## Load data
The dataset we are going to use is a synthetic dataset. It contains the purchases of customers. You can find the source of the dataset [here](https://gist.github.com/Harsh-Git-Hub/2979ec48043928ad9033d8469928e751)

In [3]:
df = pd.read_csv('https://media.githubusercontent.com/media/michalis0/Business-Intelligence-and-Analytics/master/data/retail_dataset.csv', sep=',')
df.head()

        0       1     2       3       4       5       6
0   Bread    Wine  Eggs    Meat  Cheese  Pencil  Diaper
1   Bread  Cheese  Meat  Diaper    Wine    Milk  Pencil
2  Cheese    Meat  Eggs    Milk    Wine     NaN     NaN
3  Cheese    Meat  Eggs    Milk    Wine     NaN     NaN
4    Meat  Pencil  Wine     NaN     NaN     NaN     NaN

In [4]:
df.shape

(315, 7)

Each row of the dataset represents items that were purchased together on the same day at the same store.

The dataset is **sparse**, as a relatively high percentage of cells is null (NA, NaN or equivalent). These null values make it difficult to read the table. Let's find out which unique items can actually be found in the table (based on the first column).

In [5]:
df["0"].unique()

array(['Bread', 'Cheese', 'Meat', 'Eggs', 'Wine', 'Bagel', 'Pencil',
       'Diaper', 'Milk'], dtype=object)

## Data Preprocessing
To make use of the apriori module given by `mlxtend` library, we need to convert the dataset according to it’s liking. apriori module requires a dataframe that has either 0 and 1 or True and False as data. The data we have is all string (name of items), we need to One Hot Encode the data.

In [6]:
dataset = []
for ind, row in df.iterrows():
    transaction = []
    for item in row:
        # check if item is NaN
        if item == item:
            transaction.append(item)
    dataset.append(transaction)

In [7]:
type(dataset)

list

In [8]:
len(dataset)

315

Next using the `TransactionEncoder` we can transform the transactions to True or False.

In [9]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df.head()

   Bagel  Bread  Cheese  Diaper   Eggs  Meat   Milk  Pencil  Wine
0  False   True    True    True   True  True  False    True  True
1  False   True    True    True  False  True   True    True  True
2  False  False    True   False   True  True   True   False  True
3  False  False    True   False   True  True   True   False  True
4  False  False   False   False  False  True  False    True  True

## Applying Apriori
Now we use the apriori module from mlxtend library to find the frequent itemsets. Before that, let's look at some parameters of this module:

- `df` : One-Hot-Encoded DataFrame or DataFrame that has 0 and 1 or True and False as values
- `min_support` : Floating point value between 0 and 1 that indicates the minimum support required for an itemset to be selected.
- `use_colnames` : This allows to preserve column names for itemset making it more readable.
- `max_len` : Max length of itemset generated. If not set, all possible lengths are evaluated.

In [10]:
freq_items = apriori(df, min_support=0.2, use_colnames=True)
freq_items.head(10)

    support        itemsets
0  0.425397         (Bagel)
1  0.504762         (Bread)
2  0.501587        (Cheese)
3  0.406349        (Diaper)
4  0.438095          (Eggs)
5  0.476190          (Meat)
6  0.501587          (Milk)
7  0.361905        (Pencil)
8  0.438095          (Wine)
9  0.279365  (Bagel, Bread)

In [11]:
freq_items.shape

(33, 2)

## Mining association rules

As you know by now, frequent if-then associations are called "association rules". They consist of an antecedent (if) and a consequent (then): `{antecedent} => {consequent}`.

The `metric` parameter can be set to "support", "confidence", "lift", "leverage" and "conviction" (see [this page](http://rasbt.github.io/mlxtend/user_guide/frequent_patterns/association_rules/) for more information on how these metrics are defined). In the example below, we use the support metric with a threshold of **0.25** This means that we are keeping only rules with a support at or above 0.25.

In [12]:
rules = association_rules(freq_items, metric="support", min_threshold=0.25)
rules.sort_values(by="lift", ascending=False)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(Bagel),(Bread),0.425397,0.504762,0.279365,0.656716,1.301042,1.0,0.064641,1.442650,0.402687,0.429268,0.306831,0.605088
1,(Bread),(Bagel),0.504762,0.425397,0.279365,0.553459,1.301042,1.0,0.064641,1.286787,0.467220,0.429268,0.222871,0.605088
2,(Milk),(Bread),0.501587,0.504762,0.279365,0.556962,1.103415,1.0,0.026183,1.117823,0.188043,0.384279,0.105404,0.555211
3,(Bread),(Milk),0.504762,0.501587,0.279365,0.553459,1.103415,1.0,0.026183,1.116164,0.189248,0.384279,0.104074,0.555211
4,(Cheese),(Eggs),0.501587,0.438095,0.298413,0.594937,1.358008,1.0,0.078670,1.387202,0.528933,0.465347,0.279125,0.638048

The `rules` dataframe contains all the association rules that we determined as interesting. What do you think? Are they really interesting?

Try to generate the above rules again but now with a smaller threshold for support, say $0.2$. What do you think about the rules now?

In [13]:
rules = association_rules(freq_items, metric="support", min_threshold=0.2)

# Select only the lift > 1, to see 'stronghest' association rules
rules[rules["lift"] > 1].sort_values(by="lift", ascending=False)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(Bagel),(Bread),0.425397,0.504762,0.279365,0.656716,1.301042,1.0,0.064641,1.442650,0.402687,0.429268,0.306831,0.605088
1,(Bread),(Bagel),0.504762,0.425397,0.279365,0.553459,1.301042,1.0,0.064641,1.286787,0.467220,0.429268,0.222871,0.605088
2,(Milk),(Bagel),0.501587,0.425397,0.225397,0.449367,1.056348,1.0,0.012023,1.043532,0.107024,0.321267,0.041716,0.489609
3,(Bagel),(Milk),0.425397,0.501587,0.225397,0.529851,1.056348,1.0,0.012023,1.060116,0.092833,0.321267,0.056707,0.489609
4,(Cheese),(Bread),0.501587,0.504762,0.238095,0.474684,0.940411,1.0,-0.015087,0.942742,-0.112794,0.309917,-0.060735,0.473191

We can also find result for a specific type of antecedent or consequent. For exemple, we can extract and rank association rules that have `Cheese` as the `consequent`, sorted by descending support to highlight the most frequent ones.

In [14]:
# Extract rules with 'Cheese' as consequents
rules[rules["consequents"].astype(str).str.contains("Cheese")].sort_values(by="support", ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
21,(Meat),(Cheese),0.476190,0.501587,0.323810,0.680000,1.355696,1.0,0.084958,1.557540,0.500891,0.495146,0.357962,0.662785
22,(Milk),(Cheese),0.501587,0.501587,0.304762,0.607595,1.211344,1.0,0.053172,1.270148,0.350053,0.436364,0.212690,0.607595
19,(Eggs),(Cheese),0.438095,0.501587,0.298413,0.681159,1.358008,1.0,0.078670,1.563203,0.469167,0.465347,0.360288,0.638048
27,(Wine),(Cheese),0.438095,0.501587,0.269841,0.615942,1.227986,1.0,0.050098,1.297754,0.330409,0.402844,0.229438,0.576958
5,(Bread),(Cheese),0.504762,0.501587,0.238095,0.471698,0.940411,1.0,-0.015087,0.943424,-0.113435,0.309917,-0.059969,0.473191
46,"(Meat, Eggs)",(Cheese),0.266667,0.501587,0.215873,0.809524,1.613924,1.0,0.082116,2.616667,0.518717,0.390805,0.617834,0.619952
48,(Meat),"(Cheese, Eggs)",0.476190,0.298413,0.215873,0.453333,1.519149,1.0,0.073772,1.283391,0.652406,0.386364,0.220814,0.588369
49,(Eggs),"(Cheese, Meat)",0.438095,0.323810,0.215873,0.492754,1.521739,1.0,0.074014,1.333061,0.610169,0.395349,0.249847,0.579710
51,"(Milk, Meat)",(Cheese),0.244444,0.501587,0.203175,0.831169,1.657077,1.0,0.080564,2.952137,0.524816,0.374269,0.661262,0.618116
53,(Milk),"(Cheese, Meat)",0.501587,0.323810,0.203175,0.405063,1.250931,1.0,0.040756,1.136575,0.402468,0.326531,0.120164,0.516257
55,(Meat),"(Milk, Cheese)",0.476190,0.304762,0.203175,0.426667,1.400000,1.0,0.058050,1.212625,0.545455,0.351648,0.175342,0.546667
17,(Diaper),(Cheese),0.406349,0.501587,0.200000,0.492188,0.981260,1.0,-0.003820,0.981490,-0.031168,0.282511,-0.018859,0.445461
25,(Pencil),(Cheese),0.361905,0.501587,0.200000,0.552632,1.101765,1.0,0.018473,1.114099,0.144752,0.301435,0.102414,0.475683